WCF.Demo/Service References/ServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="Member">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Flag" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ModifyAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifyDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="No" type="xs:int" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Member" nillable="true" type="tns:Member" />
  <xs:complexType name="ArrayOfMember_Get_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Member_Get_Result" nillable="true" type="tns:Member_Get_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMember_Get_Result" nillable="true" type="tns:ArrayOfMember_Get_Result" />
  <xs:complexType name="Member_Get_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Flag" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ModifyAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifyDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="No" type="xs:int" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Member_Get_Result" nillable="true" type="tns:Member_Get_Result" />
  <xs:complexType name="Member_GetByNo_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Flag" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ModifyAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifyDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="No" type="xs:int" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Member_GetByNo_Result" nillable="true" type="tns:Member_GetByNo_Result" />
</xs:schema>